figure.content-image {
	display: inline-block;
	max-width: 100%;
	width: auto;
	height: auto;
	position: relative;
}

	figure.content-image .content-image-inner {
		display: block;
		background: no-repeat center center / contain;
	}

	figure.content-image img {
		max-width: 100%;
		height: auto;
	}

sup.footnote a {
	text-decoration: none;
	color: inherit;
	font-size: 0.8em;
}

a.link-preview {
	position: relative;
}

	a.link-preview .link-preview-refresh {
		position: absolute;
		right: 0;
		top: 0;
		width: 20px;
		height: 20px;
		cursor: pointer;
		z-index: 100;
	}

		a.link-preview .link-preview-refresh:after {
			content: "↺";
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			font-size: 16px;
			opacity: 0.6;
		}

			a.link-preview .link-preview-refresh:hover:after {
				opacity: 1;
			}
			