body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

main {
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	min-height: calc(100vh - 195px);
}

hr {
	margin: 40px auto;
	border: 0;
	border-top: 1px solid #ccc;
}

a {
	color: #00a;
}

	a:hover {
		color: #00f;
	}

footer {
	font-size: 12px;
	opacity: 0.5;
	text-align: right;
	margin: 40px 0 0;
	padding: 15px;
}

article {
	border-top: 1px solid #ccc;
	padding: 2em;
}

	article > h2 {
		margin-top: 0;
	}

	article .tags {
		list-style-type: none;
		margin: 0.2em 0 0;
		padding: 0;
	}

		article .tags li {
			display: inline-block;
			background: #eee;
			border-radius: 3px;
			box-sizing: border-box;
			padding: 5px 10px;
			font-size: 0.8em
		}

			article .tags li + li {
				margin-left: 0.5em;
			}

	article time {
		font-size: 0.8em;
		color: #999;
	}

section.author {
	background: #eee;
	border-radius: 8px;
	margin-top: 3em;
	border: 1px solid #ccc;
	padding: 2em;
}

	section.author > h2 {
		margin-top: 0;
	}
