body {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

main {
	max-width: 800px;
	margin: 0 auto;
	box-sizing: border-box;
	min-height: calc(100vh - 195px);
}

hr {
	margin: 40px auto;
	border: 0;
	border-top: 1px solid #ccc;
}

footer {
	font-size: 12px;
	opacity: 0.5;
	text-align: right;
	margin: 40px 0 0;
	padding: 15px;
}

section {
	border-top: 1px solid #ccc;
	padding: 40px;
}

	section > h2 {
		margin-top: 0;
	}
